@font-face { font-family: Gotham; src: url('font/GothamLight.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBook; src: url('font/GothamBook.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBold; src: url('font/GothamBold.ttf'); font-weight: normal;} 
@font-face { font-family: GothamMedium; src: url('font/GothamMedium.ttf'); font-weight: normal;} 

body {
    font-family: 'GothamBook';
    background-image: url('/static/images/red_bg.jpg');
    background-size: cover;
}


button {
    cursor: pointer;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}

h1 {
    font-family: 'GothamBold';
	color: white; 
	font-size: 48px; 
	margin-top: 5%;
}

hr {
	border-color: white; 
	width: 100%;  
	float: left;
}

::-webkit-scrollbar {
    display: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    min-width: 25%;
    max-width: 25%;
    background: white;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

/*#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}*/

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul li a {
    padding: 20px;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: lightgrey;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a {
    color: white;
    background: #933633;
}

a[aria-expanded="true"] {
    background-color: lightgrey;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	width: 65%;
    padding: 20px;
    margin-left: 26%;
    min-height: 100vh;
    transition: all 0.3s;
}

.container {
    padding: 10px;
    background-color: white;
    /*border: 1px solid black;*/
    border-radius: 12px;
}

.verticalLine {
    border-left: 2px solid grey;
    height: 50px;
}

.row {
    margin-left: 10px;
}

.accordion {
  width: 100%;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  color: black;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  font-weight: bold;
  border-style: solid;
  /*border-color: black;*/
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\2BC6';
  color: black;
  font-weight: bold;
  float: right;
}

.accordion.active:after {
  content: "\2BC5";
}

.panel {
  padding: 0 18px;
  background-color: #FFDF16;
  max-height: 0;
  overflow: hidden;
  border-style: solid;
  border-color: black;
  border-radius: 0px 0px 15px 15px;
  transition: max-height 0.2s ease-out;
}

.container.accordion.active:after {
    background-color: #ffcc00;
}

/* ---------------------------------
    TABLE CONTENTS
-----------------------------------*/

table, th, td, tr{
    padding: 5px;
}

table {
    margin-top: 2%;
    margin-bottom: 3%;
    background-color: #FFCC00;
    border: 1px solid #FFCC00;
    border-collapse: collapse;
}

td {
    border: none;
    height: 80px;
}

.btnApply {
    border-color: #933633;
    background-color: #933633;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 8px;
}

.btnApply:hover {
    background-color: #781B1B;
    color: white;
}

.btnUnsave {
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: inherit;
}

.btnUnsave:hover {
    font-size: 18px;
}

.jobTitle {
    font-weight: bold;
    margin-left: 1%;
}

.jobDescription {
    width: 98%;
    font-size: 12px;
    text-align: inherit;
    margin-left: 1%;
}

.imgJob {
    display: block; 
    margin: 0 auto;
    width: 80%; 
    height: inherit; 
    border-radius: 50%;
}

/* ---------- MODAL -------------*/
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}