@font-face { font-family: Gotham; src: url('font/GothamLight.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBook; src: url('font/GothamBook.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBold; src: url('font/GothamBold.ttf'); font-weight: normal;} 
@font-face { font-family: GothamMedium; src: url('font/GothamMedium.ttf'); font-weight: normal;} 

body {
    font-family: 'GothamBook';
    background-image: url('/static/images/white_bg.jpg');
    background-size: cover;
    overflow: hidden;
}
button {
  background-color: rgba(255,255,255,.5);
  padding: 5px;
  outline: none;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 5px;
}
div{
  height: 55px;
}
form {
  flex: 15;
  display: block;
  padding: 15px;
}
/* ---------------------------------------------------
                         CLASS STYLE
----------------------------------------------------- */
.heading{
    position: relative;
    top: 0px;
    bottom: 1px;
    height: 70px;
    width: 100%;
    background-color: #F8C400;
    padding: 15px;
}
.wrapper {
  max-width: 100%;
  height: 97vh;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  background-color: rgba(255,255,255,.1);
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(255,255,255,.2);
  border-right: 1px solid rgba(255,255,255,.2);
}
.text-box {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    width: 100%;
    background-color: gray;
}
.bot-row, .user-row {
  padding: 1px 0 5px 0;
  display: block;
  position: relative;
}
.user-row {
  text-align: right;
}

.user, .bot {
  font-size: 16px;
  padding: 5px 8px;
  margin: 1px;
  border-radius: 12px;
  display: inline-block;
  position: relative;
  top: 10px;
}
.bot {
  margin-right: 100px;
  background-color: #F8C400;
  border-bottom-left-radius: 0;
  position: relative;
  right: 38%;
}
.user {
  margin-left: 100px;
  color: white;
  background-color: #781B1B; 
  border-bottom-right-radius: 0;
  position: relative;
  right: 2%;
}
/* ---------------------------------------------------
                         ID STYLE
----------------------------------------------------- */
#fa-send{
    font-size: 16px;
    position: relative;
    right: 5px;
}
#fa-mic{
    font-size: 24px;
    position: relative;
    right: 1px;
}
#imgJob{
    display: flex;
    border-radius: 50%;
    height:50px;
    width: 50px;
    position: relative;
    bottom: 6px;
}
#jobOffer-text{
    position: relative;
    bottom: 60px;
    left: 15%;
    font-size: 18px;
}
#lorem-text{
    position: relative;
    bottom: 63px;
    left: 15%;
    font-size: 13px;
}
#time{
    position: relative;
    font-size: 12px;
    top: 5px;
    right: 45%;
}
#id-mic{
    position: relative;
    bottom: 50px;
    left: 55px;
    color: white;
    background-color: #781B1B;
    height: 40px;
    width: 50px;
    font-size: 16px;
    line-height: 25px;
    padding: 0;
    border-radius: 20px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
#id-send{
    height: 40px;
    width: 100px;
    position: relative;
    bottom: 53px;
    left: 65px;
    color: white;
    background-color: #781B1B;
    font-size: 12px;
    line-height: 25px;
    padding: 0;
    border-radius: 20px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
input#message {
    position: relative;
    left: 55px;
    bottom: 53px;
    width: 72%;
    padding-left: 11px;
    padding-right: 9px;
    font-size: 16px;
    height: 40px;
    flex: 10;
    outline: none;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 20px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

div#dialogue {
  overflow-x: none;
  overflow-y: auto;
  display: block;
  flex: 95;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: transparent;
}

