@font-face { font-family: Gotham; src: url('font/GothamLight.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBook; src: url('font/GothamBook.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBold; src: url('font/GothamBold.ttf'); font-weight: normal;} 
@font-face { font-family: GothamMedium; src: url('font/GothamMedium.ttf'); font-weight: normal;} 

body {
    font-family: 'GothamBook';
    background-image: url('/static/images/white_bg.jpg');
    background-size: cover;
}
button{
    cursor: pointer;
}
form {
  flex: 5;
  display: block;
  padding: 15px;
  position: relative;
  top: 270px;
}
b{
    color: black;
    font-size: 13px;
}
b#question{
    font-size: 20px;
}
.heading{
    background-color: #F8C400;
    padding: 15px;
}
.foot{
    position: relative;
    top: 150px;
    background-color: #EBEBEB;
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
}
.text-box{
    width: 100%;
    position: relative;
    bottom: 250px;
}
.time{
   position: relative;
   right: 65px;
   top: 10px;
  
}
#id-write{
    width: 70%;
    padding-left: 11px;
    padding-right: 9px;
    font-size: 16px;
    height: 40px;
    flex: 10;
    outline: none;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 13px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;

}
#imgJob{
    display: flex;
    border-radius: 50%;
    height:100px;
    width: 100px;
    position: relative;
}
#jobOffer-text{
    position: relative;
    bottom: 28px;
    left: 8%;
    font-size: 32px;
}
#lorem-text{
    position: relative;
    bottom: 22px;
    left: 8%;
    font-size: 20px;
}
#id-send{
    position: relative;
    left: 65px;
    color: white;
    background-color: #781B1B;
    height: 40px;
    width: 100px;
    font-size: 16px;
    line-height: 25px;
    padding: 0;
    border-radius: 20px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
#id-mic{
    position: relative;
    left: 35px;
    color: white;
    background-color: #781B1B;
    height: 40px;
    width: 60px;
    font-size: 16px;
    line-height: 25px;
    padding: 0;
    border-radius: 20px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
