@font-face { font-family: Gotham; src: url('font/GothamLight.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBook; src: url('font/GothamBook.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBold; src: url('font/GothamBold.ttf'); font-weight: normal;} 
@font-face { font-family: GothamMedium; src: url('font/GothamMedium.ttf'); font-weight: normal;} 

body {
    font-family: 'GothamBook';
    background-image: url('/static/images/white_bg.jpg');
    background-size: cover;
}

a {
	text-align: center;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
}

input {
	text-align: center;
}

input:focus{
    outline: none;
}

input[type=button] {
	cursor: pointer;
}

button{
	cursor: pointer;
}

.login {
	width: 55%;
	overflow: hidden;
	margin: auto;
	padding: 50px;
}

.logo {
	position: relative;
	margin:auto;
}
#emailAdd {
	border-radius: 15px;
	width: 350px;
	text-align: center;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ffcc00;
	position: relative;
	
	
}
#pass {
	border-radius: 15px;
	width: 350px;
	text-align: center;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ffcc00;
	position: relative;
	

}
.btn_login {
	text-align: center;
	font-weight: bold;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	width:150px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	background-color: #8C383E;
	position: relative;
	color: white;
	padding-top: 1%;
	padding-bottom: 1%
}
.btn_login:hover{
	background-color: #781B1B;
}
#id-login{
	text-decoration: none;
}
#id-login:hover{
	color: white;
}
.btn_signUp {
	border-radius: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width:150px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	position: relative;
}
.btn_signUp:hover{
	background-color: lightgrey;
}
#id-signUp{
	color: black;
	text-decoration: none;
	position: relative;
}

.alert {
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}