{% load static %}

{% block headerinclude %}

    <title>Interview Success</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- ResponsiveVoice API -->
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=N9DRhuUu"></script>

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static '/css/Redirect.css' %}">

{% endblock headerinclude %}

<script>
    function redirect(){
       window.location.href = "/../user/home";
    }

    setTimeout(redirect, 6000); //2000 is equivalent to 2 seconds
</script>

{% block body %}

   <div class="logout">
        <div class="logo pb-2">
          <center>  <img  src="{% static '/images/logo.png' %}" width="40%" height="23%"></center>
         </div>            
        <center><form>
        	<div class="pt-5 pb-5">
        	<h1>Congratulations! You have successfully taken the interview session.</h1>
        	</div>
        	<div class="pt-3">
            <p>Redirecting to home page in a few seconds...</p>
        	</div>
        </form>
    </center>
</div>

<script>
    responsiveVoice.speak("Congratulations! You have successfully taken the interview session.", "US English Female", {volume: 1});
</script>

{% endblock %}