{% load static %}

{% block headerinclude %}

    <title>Interview BOT - Job Offers Interview</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static '/css/JobOffer_Interview.css' %}">
    
{% endblock headerinclude %}



{% block footerinclude %}

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/idewcomputing/code-chatbot/src/chatbot.js"></script>

{% endblock footerinclude %}



{% block content %}
   
<div class="heading">
    <label>
        <img src="{% static '/images/red_bg.jpg' %}" id="imgJob">
    </label>
    <div>
        <label>
            <h2 id="jobOffer-text"> Job offer </h2>
            <p id="lorem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec urna at quam.</p>
        </label>
    </div>
</div>
<center>
    <div class='wrapper'>
        <div id="dialogue"></div>
            <form onSubmit="return chatbot.sendMessage()">
            <div class="text-box">
                <p id="time">TIMIE LEFT: <br>1:00:00</p>
                <input type="text" name="message" id="message" autocomplete="off" placeholder="Write a message....">
                <button name="mic" id="id-mic"><i id="fa-mic" class="fa fa-microphone"></i></button>
                <button type="submit" name="send" id="id-send"><i id="fa-send" class="fa fa-send-o">  Send</i></button>
            </div>
        </form>
  </div>
</center>

<script type="text/javascript">
    function setup() {
      chatbot.loadFiles();
    }

    window.onload = setup;
</script>

{% endblock content %}  