{% load static %}

{% block headerinclude %}

    <title>Interview BOT - Job Offers Interview</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static '/css/JobOffer_Interview.css' %}">
    
{% endblock headerinclude %}



{% block footerinclude %}

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
     
     <!-- Popper.JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
     <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- ResponsiveVoice API -->
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=N9DRhuUu"></script>

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
{% endblock footerinclude %}



{% block content %}

<div class="chat">
  <div class="chat-title">
    {% for job in job %}
    <b><h1>{{job.title}}</h1></b>
    <h2>{{job.description}}</h2>
    {% endfor %}
    <figure class="avatar">
      <img src="{% static '/images/red_bg.jpg' %}" />
    </figure>
  </div><br>

  <script>
    responsiveVoice.speak("Good day! You are now in the interview session. You need to answer all 20 questions. Each question has a time limit of two minutes to be answered. You may either encode or voice your responses. Best of luck!", "US English Female", {volume: 1});
  </script>

  <div class="messages">
    <div class="messages-content">
      <h3 style="text-align: justify; margin: auto; width: 75%; padding: 75px;">You are now in the interview session. You need to answer all 20 questions. Each question has a time limit of two minutes to be answered. You may either encode or voice your responses. Best of luck!<h3>
    </div>

    <div style="position: sticky; bottom: 10px; text-align: center;">
      <a href="{% url 'user:job-interview_q1' %}"> Proceed</a>
    </div>
  </div>

</div>

{% endblock content %}