{% load static %}

{% block headerinclude %}

    <title>Interview BOT - Job Offers Interview</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static '/css/JobOffer_Interview.css' %}">
    
{% endblock headerinclude %}



{% block footerinclude %}

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
     
     <!-- Popper.JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
     <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    




{% endblock footerinclude %}



{% block content %}
   
<div class="chat">
  <div class="chat-title">
    <b><h1>Job offer</h1></b>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec urna at quam.</h2>
    <figure class="avatar">
      <img src="{% static '/images/red_bg.jpg' %}" />
    </figure>
      
  </div>
  <br>
  <div class="messages">
    <div class="messages-content">
    </div>
  </div>
  <form id="response" method="POST" autocomplete="off" enctype="multipart/form-data" style="margin-bottom: 0px;">
    {% csrf_token %}
    <div class="message-box">
      <input type="text" class="message-input" id="message" name="message" placeholder="Type a answer..."></input>
      <button name="mic" id="id-mic"><i id="fa-mic" class="fa fa-microphone"></i></button>
          <button class="message-submit sound-on-click" type="submit" name="send" id="send"><i id="fa-send" class="fa fa-send-o"> Send</i></button>
    </div>
  </form>
  

</div>

<div class="bg"></div>

<!-- Modal -->
<div class="modal fade" id="exitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Congratulations! </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your interview is done.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Leave</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var $messages = $('.messages-content'),
    d, h, m,
    i = 0;


$(window).load(function() {
  $messages.mCustomScrollbar();
  setTimeout(function() {
    botMessage();
  }, 100);
});

function updateScrollbar() {
  $messages.mCustomScrollbar("update").mCustomScrollbar('scrollTo', 'bottom', {
    scrollInertia: 10,
    timeout: 0
  });
}

function setDate(){
  d = new Date()
  if (m != d.getMinutes()) {
    m = d.getMinutes();
    $('<div class="timestamp">' + d.getHours() + ':' + m + '</div>').appendTo($('.message:last'));
  }
}

function insertMessage() {
  $('#message').attr('disabled', true);
  msg = $('.message-input').val();
  console.log(msg);
  if ($.trim(msg) == '') {
    return false;
  }
  $('<div class="message message-personal">' + msg + '</div>').appendTo($('.mCSB_container')).addClass('new');
  setDate();
  $('.message-input').val(null);
  updateScrollbar();
  setTimeout(function() {
    botMessage();
  }, 1000 + (Math.random() * 20) * 100);
}

$('.message-submit').click(function() {
  insertMessage();
  
});

$(window).on('keydown', function(e) {
  if (e.which == 13) {
    insertMessage();
    return false;
  }
})

var bot = [
  'Hi CIT-Interviewerbot at your service ',
  'Tell me about yourself',
  'Tell me about your work experience',
  'How do you describe yourself?',
  'Describe your dream job',
  'Why do you want this job?',
  'Why do you want to work at this Company?',
  'what are your biggest strengths?',
  'what is your leadership style?',
  'what do you consider to be your biggest achievement?',
  'What are your biggest weaknesses?',
  'How do you prioritize your work?',
  'How do you handle stress?',
  'What are you Passionate about?',
  'What motivates you?',
  'Where do you see yourself in five years?',
  'What makes you unique?',
  'What can we expect from you in your first three months?',
  'What was your salary in your last job?',
  'What is your salary range expectation?',
  'Out of all the applicants, why should we Hire you?',
  'Thank you for answering our questions. We will contact you through your gmail.'
]

function botMessage() {
  if ($('.message-input').val() != '') {
    return false;
  }
  $('<div class="message loading new"><figure class="avatar"><img src="{% static '/images/avatar.jpg/' %}" /></figure><span></span></div>').appendTo($('.mCSB_container'));
  updateScrollbar();

  setTimeout(function() {
    $('.message.loading').remove();
    $('<div class="message new"><figure class="avatar"><img src="{% static '/images/avatar.jpg /'%}"> /></figure>' + bot[i] + '</div>').appendTo($('.mCSB_container')).addClass('new');
    setDate();
    updateScrollbar();
    i++;
    $test = bot[i];
    if(bot[i-1] != 'Thank you for answering our questions. We will contact you through your gmail.'){
      $('#message').attr('disabled', false);
    }
  }, 1000 + (Math.random() * 20) * 100);
  if(bot[i] == 'Thank you for answering our questions. We will contact you through your gmail.'){
      $('#exitModal').modal('show')  
  }

}

</script>

{% endblock content %}  