@font-face { font-family: Gotham; src: url('font/GothamLight.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBook; src: url('font/GothamBook.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBold; src: url('font/GothamBold.ttf'); font-weight: normal;} 
@font-face { font-family: GothamMedium; src: url('font/GothamMedium.ttf'); font-weight: normal;} 

body {
    font-family: 'GothamBook';
    background-image: url('/static/images/red_bg.jpg');
    background-size: cover;
}


button {
    cursor: pointer;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}

h1 {
	font-family: 'GothamBold';
    color: white; 
    font-size: 48px; 
    margin-top: 5%;
}

hr {
	border-color: white; 
    width: 100%;  
    float: left; 
}

::-webkit-scrollbar {
    display: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    min-width: 25%;
    max-width: 25%;
    background: white;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

/*#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}*/

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul li a {
    padding: 20px;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: lightgrey;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a {
    color: white;
    background: #933633;
}

a[aria-expanded="true"] {
    background-color: lightgrey;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

.jobCreate{
    color: #ffffff;
    text-decoration: none;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #ffcc00;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.jobCreate:hover,
.jobCreate:focus{
    background-color: #933633;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	width: 99%; 
    min-height: 100vh;
    transition: all 0.3s;
}
.contentWrapper{
    padding-left: 26%;
}

.topBorder{
    width: 101%;
    border-top: 10px solid #2b353b;
    
}

.dateandtime {
    color: #ffffff;
    text-align: right;
    font-size: 0.7em;
}

hr{
    opacity: 30%;
}

.addAdmin{
    text-align: left;
    margin-left: 22px;
    color: #933633;
    font-weight: bold;
    transition: 0.1s;
}

.addAdmin:hover{
    color: #CD0000;
    bottom: 0;
}


.botFooter{
    font-size: 0.8em;
    color: #ffffff;
    background-color: #2b353b;
    padding: 5px;
    width: 101%;
    margin-bottom: -25px;
    text-align: right;
    margin-top: 2.5%;
}

#content .selectWrapper{
  border-radius: 10px;
  display:inline-block;
  overflow:hidden;
  background:white;
}
#content .selectBox{
  width: 140px;
  height: 30px;
  padding-left: 10px;
  font-size: 0.85em;
  border: none;
}

#content .table1{
    margin-top: 35px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    border-top: 30px solid lightgray;
}
#content .table2{
    margin-top: 35px;
    min-height: 740px;
    background-color: white;
    border-radius: 20px;
    border-top: 30px solid lightgray;
}

#modalContent {
    padding: 20px;
    transition: all 0.3s;
}

/*CREATE JOB CSS*/
.jobCreateModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.createJob-content{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    /*padding: 20px;*/
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
}

.close{
    color: #aaa;
    margin-right: 10px;
    right: 0;
    /*margin-right: 140px;*/
    font-size: 28px;
    font-weight: bold;
    /*position: absolute;*/
}

.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.containerColor{
    background-color: #DEDEDE;
    border-radius: 15px;
}

.modalHeader{
    background-color: #ffcc00;
    height: 130px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 20px;
}

.imgNotepad{
    width: 50px;
}

.questionTitle{
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

.btnPost{
    background-color: #933633;
    width: 100px;
    height: 35px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    float: right;
    margin-top: 16px;
    margin-right: 5px;
    transition: 0.2s;
}

.btnPost:hover{
    background-color: #A00000;
}

.imgEllipsis{
    width: 20px;
    float: right;
    margin-top: 25px;
    margin-right: 5px;
    opacity: 50%;
    transition: 0.2s;
}

.imgEllipsis:hover{
    opacity: 100%;
}

.imgProfile{
    width: 70px;
    float: right;
}

.tab-content header{
    height: 20px;
}

.tab-content footer{
    height: 20px;
}

.questionsContainer{
    background-color: #ffffff;
}

.questionnaireTitle{
    width: 80%;
    height: 175px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border-top: 5px solid #933633;
}

.questionnaireTitle input, textarea{
    float: left;
    width: 100%;
}

#id-title{
    border-style: none;
    font-weight: bold;
    font-size: 20px;
    border-bottom-style: groove;
}

#id-description{
    border-style: none;
}

textarea{
    resize: none;
    line-height: 2ch;
    background-image: linear-gradient(transparent, transparent calc(2ch - 1px), #DEDEDE 0px);
    background-size: 100% 2ch;
}

.questionContainer{
    padding-top: 20px;
}

.container li{
    margin-left: 30px;
    margin-top: -24px;
}

.tab-modal:hover,
.tab-modal.active{
    color: #ffffff;
    border-bottom: 3px solid #933633;
}

.tools{
    width: 25%;
    height: 35px;
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
    border-bottom: 3px solid #933633;
    opacity: 25%;
    transition: 0.3s;
    margin-top: -2px;
}

.tools:hover{
    opacity: 100%;
}

.tools img:hover{
    background-color: #ECECEC;
}

.contentQuestion{
    width: 80%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    border-left: 5px solid #933633;
}

.contentQuestion input{
    float: left;
    width: 100%;
    border-style: none;
    font-weight: bold;
    border-bottom-style: groove;
}

#id-answer{
    border-style: none;
    resize: none;
    line-height: 2ch;
    background-image: linear-gradient(transparent, transparent calc(2ch - 1px), #DEDEDE 0px);
    background-size: 100% 2ch;
}

.tools img{
    padding: 5px;
    cursor: pointer;
}

.imgPlus{
    width: 32px;
}

.imgForward{
    width: 32px;
}

.imgTruetype{
    width: 32px;
}

.imgGallery{
    width: 38px;
}

.imgCopy{
    width: 32px;
}

.imgDelete{
    width: 32px;
}

/*.modal-content{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 90%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: #fefefe;
    padding: 2px;
    border: 5px solid #DCB800;
    width: 100%; 
    border-radius: 15px;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
*/
/*.createJob{
    position: relative;
    margin: auto;
}
.imgJob {
    width: 40px; 
    height: 40px; 
    border-radius: 2%;
    position: relative;
    left: 2%;
}
#job-form{
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 30px;
}
#job-text{
    font-weight: bold;
    position: absolute;
    left: 4%;
    top: 27%;
    font-size: 23px;
}
#btnPost{
    width: 110px;
    border-radius: 15px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #8B0000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 488%;
}
.imgEllipsis{
    width: 30px; 
    height: 30px; 
    border-radius: 2%;
    position: relative;
    left: 488%;
}
.imgCir{
    width: 70px; 
    height: 70px; 
    border-radius: 2%;
    position: relative;
    left: 488%;
}
#label{
    background-color: #FFCC00;
}
#question{
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    border-style: none;
    color: #696969;
    top: 60px;
    left: 470%;
}
#responses{
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    border-style: none;
    color: #696969;
    top: 60px;
    left: 470%;
}
#msg-form{
    width: 80%;
    position: absolute;
    top: 25%;
    left: 10%;
    padding-top: 3%;
    padding-bottom: 2%;
    height: inherit;
    border-radius: 10px;
    border-top: 8px solid #8B0000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
#j-text{
    font-weight: bold;
    position: absolute;
    left: 2.5%;
    top: 27%;
    font-size: 23px;
}
#message{
    border-radius: 0px;
    width: 1250px;
    text-align: center;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    background-color: #ffffff;
    color: #696969;
    position: relative;
    text-align: left;
    font-weight: bold;
    left: 2%;
    padding-bottom: 10px;
    padding-top: 10px;
}
#msg2-form{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    height: inherit;
    border-top: 1px solid #000000;
    border-left: 8px solid #8B0000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
#message2{
    border-radius: 0px;
    width: 1250px;
    text-align: center;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    background-color: #DCDCDC;
    position: relative;
    text-align: left;
    left: 2%;
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
}
#message3{
    border-radius: 0px;
    width: 1250px;
    text-align: center;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    background-color: #ffffff;
    position: relative;
    text-align: left;
    left: 2%;
    color: #696969;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
#message4{
    border-radius: 0px;
    width: 1250px;
    text-align: center;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    background-color: #ffffff;
    position: relative;
    text-align: left;
    left: 2%;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
#imgCopy{
    width: 40px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 95%;
}
#imgDelete{
    width: 40px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 96%;
}
#function-form{
    width: 4%;
    height: 50px;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 91%;
    padding-top: 1%;
    padding-bottom: 7%;
    height: inherit;
    border-top: 1px solid #000000;
    border-left: 1px solid #8B0000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
#imgPlus{
    width: 40px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 35%;
}
#imgForward{
    width: 40px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 35%;
}
#imgTT{
    width: 40px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 35%;
}
#imgGallery{
    width: 40px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 35%;
}*/