@font-face { font-family: Gotham; src: url('font/GothamLight.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBook; src: url('font/GothamBook.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBold; src: url('font/GothamBold.ttf'); font-weight: normal;} 
@font-face { font-family: GothamMedium; src: url('font/GothamMedium.ttf'); font-weight: normal;} 

body {
    font-family: 'GothamBook';
    background-image: url('/static/images/white_bg.jpg');
    background-size: cover;
}


button {
    cursor: pointer;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}

h1 {
    font-family: 'GothamBold';
    color: white; 
    font-size: 48px; 
    margin-top: 5%;
}

hr {
    border-color: white; 
    width: 100%;  
    float: left; 
}

::-webkit-scrollbar {
    display: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    min-width: 25%;
    max-width: 25%;
    background: white;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

/*#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}*/

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: 933633;
    border-color: brown;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: black;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

#paginate-align{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: right;
    margin-bottom: 30px;
    margin-left: 12%;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul li a {
    padding: 20px;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: lightgrey;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a {
    color: white;
    background: #933633;
}

a[aria-expanded="true"] {
    background-color: lightgrey;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

.jobCreate{
    color: #ffffff;
    text-decoration: none;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #ffcc00;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.jobCreate:hover,
.jobCreate:focus{
    background-color: #933633;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content-header{
    padding-left: 0.981%;
    padding-right: 13px;
}

.content-container{
    width: 75%;
    min-height: 100%;
    margin-left: 25%;
    float: right;
}

.topBorder{
    width: 100%;
    border-top: 10px solid #2b353b;
}

.addAdmin{
    text-align: left;
    margin-left: 22px;
    color: #933633;
    font-weight: bold;
    transition: 0.1s;
}

.addAdmin:hover{
    color: #CD0000;
    bottom: 0;
}

#content-header .selectWrapper{
  border-radius: 10px;
  display:inline-block;
  overflow:hidden;
  background:white;
}
#content-header .selectBox{
  width: 140px;
  height: 30px;
  padding-left: 10px;
  font-size: 0.85em;
  border: none;
}

#content-header .table1{
    margin-top: 35px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    border-top: 30px solid lightgray;
}
#content-header .table2{
    margin-top: 35px;
    min-height: 740px;
    background-color: white;
    border-radius: 20px;
    border-top: 30px solid lightgray;
}

.dateandtime {
    color: #ffffff;
    text-align: right;
    font-size: 0.7em;
    margin-right: 0.44%;
}

.red-header{
    width: 100%;
    height: 100px;
    background-color: #933633;
    float: right;
    margin-bottom: 20px;
}

.content-form{
    padding: 20px;
    margin-left: 20px;
}

.column-form{
    width: 80%;
    border-radius: 15px;
}

.column-status{
    margin: 20px;
}

.column-form header{
    width: 100%;
    background-color: #2b353b;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    color: #ffffff;
    border-radius: 15px 15px 0 0;
}

.column-form a{
    float: right;
    margin-right: 25px;
    opacity: 50%;
}

.column-form a:hover{
    opacity: 100%;
}

.column-form textarea{
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    resize: none;
    border: none;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2b353b;
    color: #ffffff;
    text-align: right;
    font-size: 0.9em;
    z-index: -1;
}

.citButton {
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-width:20%;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-color: #8C383E;
    position: relative;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.citButton:hover{
    background-color: #781B1B;
}

.citButton1 {
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-width:20%;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-color: darkgray;
    position: relative;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.citButton1:hover{
    background-color: gray;
}

#viewModal{
    width: 100%;
}

/*MODAL JOB CREATE*/
/*CREATE JOB CSS*/
.jobCreateModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.createJob-content{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    /*padding: 20px;*/
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
}

.close{
    color: #aaa;
    margin-right: 10px;
    right: 0;
    /*margin-right: 140px;*/
    font-size: 28px;
    font-weight: bold;
    /*position: absolute;*/
}

.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.containerColor{
    background-color: #DEDEDE;
    border-radius: 15px;
}

.modalHeader{
    background-color: #ffcc00;
    height: 130px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 20px;
}

.imgNotepad{
    width: 50px;
}

.questionTitle{
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

.btnPost{
    background-color: #933633;
    width: 100px;
    height: 35px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    float: right;
    margin-top: 16px;
    margin-right: 5px;
    transition: 0.2s;
}

.btnPost:hover{
    background-color: #A00000;
}

.imgEllipsis{
    width: 20px;
    float: right;
    margin-top: 25px;
    margin-right: 5px;
    opacity: 50%;
    transition: 0.2s;
}

.imgEllipsis:hover{
    opacity: 100%;
}

.imgProfile{
    width: 70px;
    float: right;
}

.tab-content header{
    height: 20px;
}

.tab-content footer{
    height: 20px;
}

.questionsContainer{
    background-color: #ffffff;
}

.questionnaireTitle{
    width: 80%;
    height: 195px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border-top: 5px solid #933633;
}

.questionnaireTitle select{
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border-color: #ccc;
}

.questionnaireTitle select, textarea{
    float: left;
    width: 100%;
}

#id-title{
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #000000;
}

#id-description{
    border-style: none;
}

textarea{
    resize: none;
    line-height: 2ch;
    background-image: linear-gradient(transparent, transparent calc(2ch - 1px), #DEDEDE 0px);
    background-size: 100% 2ch;
}

.questionContainer{
    padding-top: 20px;
}

.container li{
    margin-left: 30px;
    margin-top: -24px;
}

.tab-modal:hover,
.tab-modal.active{
    color: #ffffff;
    border-bottom: 3px solid #933633;
}

.tools{
    width: 25%;
    height: 35px;
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
    border-bottom: 3px solid #933633;
    opacity: 25%;
    transition: 0.3s;
    margin-top: -2px;
}

.tools:hover{
    opacity: 100%;
}

.tools img:hover{
    background-color: #ECECEC;
}

.contentQuestion{
    width: 80%;
    min-height: 100px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    border-left: 5px solid #933633;
}

.contentQuestion input{
    float: left;
    width: 100%;
    border: none;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
}

#id-answer{
    border-style: none;
    resize: none;
    line-height: 2ch;
    background-image: linear-gradient(transparent, transparent calc(2ch - 1px), #DEDEDE 0px);
    background-size: 100% 2ch;
}

.tools img{
    padding: 5px;
    cursor: pointer;
}

.imgPlus{
    width: 32px;
}

.imgForward{
    width: 32px;
}

.imgTruetype{
    width: 32px;
}

.imgGallery{
    width: 38px;
}

.imgCopy{
    width: 32px;
}

.imgDelete{
    width: 32px;
}

.input_fields_wrap button{
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: grey;
    opacity: 50%;
    border-radius: 8px;
    color: #ffffff;
}

.input_fields_wrap button:hover{
    opacity: 100%;
}

.number-requirements input{
    cursor: pointer;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab a:hover {
  background-color: #ddd;
}

.tab a.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabs a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tabs a:hover {
  background-color: #ddd;
}

.tabs a.active {
  background-color: #ccc;
}

.tabcontents {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #933633;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #933633;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}