@font-face { font-family: Gotham; src: url('font/GothamLight.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBook; src: url('font/GothamBook.ttf'); font-weight: normal;} 
@font-face { font-family: GothamBold; src: url('font/GothamBold.ttf'); font-weight: normal;} 
@font-face { font-family: GothamMedium; src: url('font/GothamMedium.ttf'); font-weight: normal;} 

body {
    font-family: 'GothamBook';
    background-image: url('/static/images/white_bg.jpg');
    background-size: cover;
}


button {
    cursor: pointer;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}

h1 {
    font-family: 'GothamBold';
    color: white; 
    font-size: 48px; 
    margin-top: 5%;
}

hr {
    border-color: white; 
    width: 100%;  
    float: left; 
}

::-webkit-scrollbar {
    display: none;
}








.tabHeader button{
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border: none;
    margin-right: 20px;
    background-color: #ffcc00;
}






.header{
    width: 100%;
    height: 100px;
    background-color: #ffcc00;
}

.imgNotepad{
    width: 50px;
    margin: 20px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent input{
    width: 80%;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    border: 1px solid #ccc;
}

.headerIndividual{
    width: 80%;
    height: 100px;
    border-top: 5px solid #933633;
    background-color: #ffffff;
    border-radius: 10px;
}

.headerIndividual h3{
    margin-top: 12px;
    font-weight: bold;
}